<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../element-hijofinal1/element-hijofinal1.html">
<link rel="import" href="../element-hijofinal2/element-hijofinal2.html">

<dom-module id="padre-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
	
	
	<element-hijofinal1 on-my-boton="respuestaBoton"></element-hijofinal1>
	
	<element-hijofinal2  ></element-hijofinal2>
	
	
	
  </template>

  <script>
    /**
     * `padre-element`
     * padre para la practica final
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreElement extends Polymer.Element {
      static get is() { return 'padre-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-element'
          },botSel0: {
            type: Boolean,
            value: false
          },
		  botSel1: {
            type: Boolean,
            value: false
          }

        };
      }
	  
	  
	  respuestaBoton(e){
		let boton=e.detail.botonSel;
		console.log(boton+"cosas");
		if(boton==="boton 1"){
		console.log("1");
			botSel0=true;
			botSel1=false;
		}
		if(boton==="boton 2"){
		console.log("2");
			botSel0=false;
			botSel1=true;
		}
		
	  }
    }

    window.customElements.define(PadreElement.is, PadreElement);
  </script>
</dom-module>
